<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiyi.mapper.WashclothesMapper">

    <resultMap id="activity" type="com.xiyi.domain.Activity">
        <result property="actId" column="act_id"/>
        <result property="actName" column="act_name"/>
        <result property="actDiscount" column="act_discount"/>
        <result property="actPlace" column="act_place"/>
        <result property="cyType" column="cy_type"/>
    </resultMap>

    <resultMap id="city" type="com.xiyi.domain.City">
        <result property="grandpaId" column="grandpaId"/>
        <result property="grandpaName" column="grandpaName"/>
        <result property="parentId" column="parentId"/>
        <result property="parentName" column="parentName"/>
        <result property="childId" column="childId"/>
        <result property="childName" column="childName"/>
        <result property="type" column="cy_type"/>
        <result property="id" column="id"/>
        <result property="pId" column="pid"/>
        <result property="cityName" column="cityname"/>
    </resultMap>
    
    
    <resultMap id="clothesType" type="com.xiyi.domain.ClothesType">
        <id property="cltId" column="clt_id"/>
        <result property="cltName" column="clt_name"/>
<!--        <association property="clothes" javaType="Clothes">-->
<!--            <id property="cloId" column="clo_id"/>-->
<!--            <result property="cloName" column="clo_name"/>-->
<!--            <result property="cloPrice" column="clo_price"/>-->
<!--            <result property="cloTypeId" column="clo_typeid"/>-->
<!--        </association>-->
        <collection property="clothes" ofType="Clothes" column="clo_typeid" select="findClothes"/>
    </resultMap>

    <select id="getActivity" resultMap="activity">
        select
            *
        from
            activity a
        left join city c on
            a.act_place = c.id
    </select>

    <!--父元素-->
    <select id="findAllClothesType" resultMap="clothesType">
        select * from clothes_type
    </select>

    <!--子元素-->
    <select id="findClothes" resultMap="clothesType">
        select * from clothes
    </select>


</mapper>